
<div class="row">
    <div class="col-md-9">
        <div class="main-product">
            <div *ngFor=" let product of data | paginate: { itemsPerPage: count, currentPage: p }" class="list-product">
                <img class="img" src="http://angushop.anurdin.net/{{product.image}}" alt="">
                <div class="btn-hover">
                    <label class="label-name">{{product.productName}}</label>
                    <span class="category-name">{{product.category}}</span>
                    <div class="rating-product">
                        <ngb-rating [rate]="product.rate"></ngb-rating>
                    </div>
                    <span class="price">{{product.price | currency: 'USD'}}</span>    
                </div>
                <div class="box-btn">
                    <label (click)="detail(product.slug)" class="btn-main">
                        <li class="fa fa-cart-plus"></li>
                    </label>    
                </div>
            </div>
        </div>
        <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="col-md-3">
        <div class="main-filter">
            <div class="title">
                <h6 class="label-filter">Filter</h6>
            </div>
            <div class="inp-filter">
                <div class="form-group">
                    <input type="text" (keyup)="filtersearch($event)" [(ngModel)]="filterSearchValue" name="search" class="form-control" placeholder="Search Product..">
                </div>
            </div>
            <div class="conten-filter">
                <h6 class="label-filter">Category</h6>
                <label (click)="filterCategory('')" class="list-category">All</label>
                <label (click)="filterCategory('party')"  class="list-category">Party</label>
                <label (click)="filterCategory('natural')" class="list-category">Natural</label>
                <label (click)="filterCategory('cute alay banget')" class="list-category">Cute Alay Banget</label>
                <label (click)="filterCategory('woman')" class="list-category">Woman</label>
            </div>
            <div class="conten-filter">
                <h6 class="label-filter">Size </h6>
                <div class="checkbox">
                    <input (click)="filterSize(33)" type="checkbox" class="inp-checkbox"><span class="number-checkbox">33</span>
                    <input (click)="filterSize(34)" type="checkbox" class="inp-checkbox"><span class="number-checkbox">34</span>
                    <input (click)="filterSize(35)" type="checkbox" class="inp-checkbox"><span class="number-checkbox">35</span>
                </div>
                <div class="checkbox">
                    <input (click)="filterSize(36)" type="checkbox" class="inp-checkbox"><span class="number-checkbox">36</span>
                    <input (click)="filterSize(37)" type="checkbox" class="inp-checkbox"><span class="number-checkbox">37</span>
                    <input (click)="filterSize(38)" type="checkbox" class="inp-checkbox"><span class="number-checkbox">38</span>
                </div>
            </div>
        </div>
    </div>
</div>