.navbar{
    display: flex;
    width: 100%;
    height: 60px;
}

.navbar-header{
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    width: 100%;
    height: 10rem;
    background-color:#dddbdb;
}